.hittite
  color: #000080
  font-style: italic

.akkadogramm
  color: #800000
  font-style: italic

.sumerogramm
  color: #355e00
  font-style: normal

.determinativ
  color: #663300
  vertical-align: super
  font-style: normal

.materLectionis
  color: #fb33cc
  vertical-align: super
  font-style: normal

.correction
  color: #ff00ff
  vertical-align: super
  font-style: normal
