.hittite
  color: #000080
  font-style: italic

.akadogramm
  color: #800000

.sumerogramm
  color: #355e00

.determinativ
  color: #663300
  vertical-align: super

.superscript
  color: #ff00ff
  vertical-align: super
